/* Style sheet for my Portfolio */
* {
    color: blueviolet;
}

/* Header Styling  as flex box*/
.header{
    background: greenyellow;
    display: flex;
    justify-content: space-between;
}
/* Avatar as a nested flex box to hold image and name*/
.avatar{
    display: flex;
    position: relative;
}
/*Fixing avatar image DIV width and height*/
.avatar-image{
    width:50px;
    height:50px;
    margin:5px 5px;
    align-items: center;
}
/* Fixing actual image width to the div it contains */
.avatar-image img{
    width : 100%;
    border-radius:15px;
}
/* Name */
.avatar-text h1{
    font-size: 36px;
    font-weight: bold;
    align-items: center;
    margin:5px 5px;
}
.avatar-text h1 a{ 
    text-decoration: none;
}
/* Heafer navigation list */
.header ul {
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* Heafer navigation list item as anchor element*/
.header ul li a {
    text-decoration: none;
    padding: 10px 15px;
    font-weight:bold;
    font-size: 24px;
}
/* Giving a nice background on hover */
.header ul li a:hover{
    background: blue;
    color: white;
    font-weight: light;
    border-radius: 15px;
}

/*hero section styling. This section contains a background image and a subtitle at right*/

/* This section is mainly to hold the tagline. In future, if we want we can place my photo here */
.hero{
    display: flex;
    height: 100px;
    position: relative;
    background-image:url("../images/hero-image.jpg");
    background-size:cover;
}
.tagline{
    flex:1;
    text-align: right;
    padding: 0 15px;
}
.tagline h2{
    color: white;
    font-size: 36px;
    font-weight: lighter;
}

/* Left Header styling, Setting this by default to 15% as a permanent left header */
.left-header{
    flex: 0 0 15%;
    border-right: 5px solid gray; /* Giving right border to look like a separation between header and content */
    text-align: right;
    padding-right: 20px; 
}
.left-header h2{
    font-weight: bold;
    font-size: 36px;
    color: gray;
    font-style: italic;
}
/* About Me section styling */
.aboutme{
    display: flex;
    margin: 30px 0;
}

.aboutmetext{
    padding: 0 10px;
}
.aboutmetext p{
    font-weight: lighter;
    font-size: 1.5em;
}

/* Work section styling */

.work{
    display: flex;
    margin: 30px 0;
}
/*Parent work content container to hold work tiles*/
.work-content{
    display:flex;
    flex-wrap: wrap;
    justify-items: flex-start;
}
/*Default style for a work tile, it contains an image and caption as sub childs*/

.work-tile{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position:relative;
    flex : 0 1 30%; /* by default it is 30% of flex row, so at max 3 items in a row*/
    padding: 1%;
}
.work-tile a {
    text-decoration: none;

}
/*Styling first work-tile as a bigger one to occupy 60% (2 items) */
.work-tile:first-of-type{
    flex : 0 1 60%;
    padding: 1% 2%;
}
/* actual caption to show on top of an image of project*/
.work-tile-header{
    position: absolute;
    background-color: beige;
    z-index: 1;
}
/* Setting image tag 100% of the work-tile*/
.work-tile img{
    width: 100%;
}
/*zooming of 10% of actual tile when hover on top of the tile */
.work-tile:hover{
    transform: scale(1.1);
}

/*Contact me section styling*/
.contactme{
    display: flex;
    margin: 30px 0;
}
.contactme-content{
    display:flex;
    justify-content: space-between;
}
.contactme-content ul {
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contactme-content ul li {
    padding: 10px 15px;
}
.contactme-content ul li a {
    text-decoration: none;
    padding: 10px 15px;
    font-weight:bold;
    font-size: 24px;
}
.contactme-content ul li a:hover{
    background: blue;
    color: white;
    font-weight: light;
    border-radius: 15px;
}

/*Footer keeping it simple as ceter aligned*/
footer{
    text-align: center;
    background: greenyellow;
}